.App {
  text-align: center;
  margin-top: 5em;
}

.contact-list {
  text-align: center;
  margin-top: 15em;
}


nav {
  text-align: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  padding-bottom: 0.2em;
  padding-top: 2em;
  top: 0;
  background-color: lightyellow;
  box-shadow: -3px 3px 10px 0px rgba(168, 168, 168, 0.7);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

p,
li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  padding: 0.4em 0.2em;
  font-size: 2rem;
}

nav a,
nav a:link {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 100;
}

.active {
  font-weight: bold;
  color: brown;
  font-style: italic;
}

.error {
  color: red
}

.invalid {
  color: red;
  margin-bottom: 15px;
}

.contact-link {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 100;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.delete-button {
  color: red;
  cursor: pointer;
}
